 <div class = 'container'>     
    <h1 class='text-center my-5 text-uppercase'>Posts and comments of <%= @user.name%></h1> 
    <div id= "User: <%= @user.id%>" class='row my-5 align-items-center lead text-uppercase  '>
      <%
=begin%>
 <%= image_tag (@user.photo), height: '120', width: '120', class: 'col-2' %> 
<%
=end%>
      <p class = 'border p-3 col-10 text-center'> <%= @user.name%></p>
    </div>
    <p> Number of posts:  <%= @user.posts_counter %> </p>         
    
    <% @post.each do |post| %>
      <div id="Post: <%= post.id%>" class = 'border p-3 my-3 position-relative'>
        <p class = 'mt-5 position-absolute bottom-0 right-0'> Comments:  <%= post.comments_counter %> Likes: <%= post.likes_counter%> </p>
        <div class="mb-5">
          <div class="row">
            <p class="col-1">Title: </p>
            <p class="col-11"> <%= post.title%> </p>
          </div>
          <div class="row">
            <p class="col-1">Post: </p>
              <%= link_to user_post_path(post.author_id, post.id), id: "Post-link: #{post.id}", class: 'col-11 text-decoration-none' do %>
                  <p> <%= truncate(post.text, :length => 150) %> </p>
              <% end %>
          </div>
          <hr>
          <h3>Comments:</h3>
          <div class="bg-light">          
            <% post.most_recent_comments.each do |comment| %> 
              <p class="px-4 py-1"> <%= @user.name%>: <%= comment.text %>  </p>          
            <% end %>        
          </div>        
        </div>
        
      </div>   
      
    <% end %>
 </div>
 
 