<div class = 'container'>
  <h1>Add new post</h1>
  <%= form_with(model: @post, url: user_posts_path) do |form|%>
    <div class= 'border'>
      <%= form.label :title %> <br>
      <%= form.text_field :title, placeholder: 'Enter the title of the post' %>
    </div>

    <div class= 'border'>
      <%= form.label :text %> <br>
      <%= form.text_area :text, placeholder: 'Enter the content of the post' %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
