<h1 class='text-center'>Add new post</h1>
<div class = 'border'>
  
  <%= form_with(model: @post, url: user_posts_path, data: { turbo: false }) do |form|%>
    
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <div role="alert">
          <%= message %> 
        </div>
      <% end %>
    <% end %>
    
    <div class= 'p-3 '>
      <%= form.label :title %> <br>
      <%= form.text_field :title, placeholder: 'Enter the title of the post' %>
    </div>

    <div class= 'p-3 '>
      <%= form.label :text %> <br>
      <%= form.text_area :text, placeholder: 'Enter the content of the post' %>
    </div>

    <div>
      <%= form.submit %>      
    </div>
  <% end %>
</div>
