<div class = ''>
  <h1 class='text-uppercase text-center my-4'>Comments to <%= @posts.author.name%>'s post </h1>
  <%= notice%>
  <div class = 'border d-flex justify-content-between'>
    <div class='p-3'>
      <p class='lead'>Post #<%= @posts.id %> by: <%= @posts.author.name%> </p>
      <p> <%= @posts.text%> </p>      
    </div>    
    <div class='p-3'>      
      <p> Likes: <%= @posts.likes_counter%></p>
      <% if user_signed_in?%>
        <%= form_with(model: Like.new, url: post_likes_path(@posts), method: :post ) do |f| %>    
          <%= f.submit "Like", class: 'btn btn-danger' %>    
        <% end %>
      <% end %>
    </div>    
  </div>  
  
  <% @user_posts.each do |post| %>    
    <p class = 'border p-3 my-1'> <%= @posts.author.name%>:  <%= post.text %></p>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'Add comment', new_post_comment_path(@posts), class: 'btn btn-secondary my-3'%>  
  <% end %>
</div>
