<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container">
    <p class="notice alert-success my-3"><%= notice %></p>
    <p class="alert-danger"><%= alert %></p>
    <% if user_signed_in?%>
      <div class="d-flex justify-content-between">
        <p class='lead'> User: <%= current_user.name%></p>
        <%= button_to 'Log out' , destroy_user_session_path, method: :delete, class: "btn btn-info" %>
      </div>      
    <% end %>
    <%= yield %>
  </body>
</html>
