<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in?%>
      <%= current_user.email%>
      <%= button_to 'Log out' , destroy_user_session_path, method: :delete%>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %> 
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
